#inner-box{
    height: 250px;
    width: 250;
    border-width: 20px;
    border-style: solid;
    border-color: aquamarine;
    background-color: blue;

}
#outer-box{
    background-color: blanchedalmond;
    padding: 50px;
    height: 300;
    width: 300;
}
.bg-img1{
    width: 50%;
    border-radius: 10%;
    border: 5px solid violet;
}